# Solar Procurement API
CLIENT_ID=
CLIENT_SECRET=
ACCOUNT_ID=
COUNTRY_CODE=
CATALOG_ID=

# WooCommerce REST API
WC_URL=
WC_KEY=
WC_SECRET=

# Prijsinstelling
# Welk prijsveld in WooCommerce: regular of sale
PRICE_FIELD=regular
# Prijstype van Solar API: NET of LIST
PRICE_TYPE=NET
# Opslag in procenten (NetPrice * 1.5 = 50% opslag)
MARKUP_PCT=50
